@import url('https://fonts.googleapis.com/css2?family=Potta+One&family=Rowdies:wght@700&display=swap');

.potta-one-regular {
    font-family: "Potta One", system-ui;
    font-weight: 700;
    font-style: normal;
  }
body {
    font-family: "Potta One", system-ui;
    background-color: #111;
    color: #fff;
    margin: 0;
    padding: 0;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}
header {
    text-align: center;
    padding: 20px 0;
}
h1 {
    margin: 0;
}
.movie-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.movie {
    width: 200px;
    margin: 20px;
    cursor: pointer;
    transition: transform 0.3s ease;
}
.movie:hover {
    transform: scale(1.1);
}
.movie img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}
.movie-title {
    font-family: 'Courier New', Courier, monospace;
    margin-top: 10px;
    text-align: center;
    font-size: 1.2em;
}